* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: "Fira Mono", monospace;
}

h1 {
	font-size: 2.5rem;
}

p {
	font-size: 1.1rem;
}

/*:::: Navigation ::::***/

header {
	background-color: rgb(27, 27, 27);
	width: 100%;
	position: fixed;
}

nav {
	width: 900px;
	margin: auto;
	padding: 5px;
}

nav ul {
	background-color: rgb(27, 27, 27);
	display: flex;
	padding: 20px 10px;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}

.socialIconNav {
	display: flex;
	gap: 10px;
}

a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.icons {
	width: 25px;
}

/*::::  Hero section ::::*/

.hero {
	width: 99vw;
	height: 100vh;
	background-size: cover;
	background-color: rgb(20, 20, 20);
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
}

.container {
	width: 900px;
	margin: auto;
	display: flex;
	align-items: center;
}

.heroTitle {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}

.profilPicture {
	width: 400px;
	border-radius: 100%;
	padding: 10px;
}

.btn {
	background-color: rgb(247, 84, 72);
	width: 100px;
	text-align: center;
	padding: 10px 30px;
	margin: 10px 0px;
}

/*:::: Contact section ::::*/

.contactSection {
	background-color: rgb(27, 27, 27);
	padding: 100px 10px;
}

.inputText {
	display: flex;
	gap: 5px;
}

input {
	width: 500px;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(131, 131, 131);
	padding: 10px 10px;
	color: rgb(255, 255, 255);
}
