* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: "Fira Mono", monospace;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2.1rem;
	color: rgb(255, 255, 255);
}

h3 {
	font-size: 1.5rem;
	color: rgb(255, 255, 255);
}

p {
	font-size: 1.1rem;
	color: rgb(255, 255, 255);
	line-height: 30px;
}

/*:::: Navigation ::::***/

.headerNav {
	background-color: rgb(27, 27, 27);
	width: 100%;
	position: fixed;
}

nav {
	width: 900px;
	margin: auto;
	padding: 5px;
}

nav ul {
	background-color: rgb(27, 27, 27);
	display: flex;
	justify-content: space-between;
	padding: 20px 10px;
	list-style-type: none;
}

.socialIconNav {
	display: flex;
	gap: 10px;
}

a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.icons {
	width: 25px;
}

/*::::  Hero section ::::*/

.hero {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-color: rgb(27, 27, 27);
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
}

.heroSection {
	max-width: 1200px;
	display: inline-flex;
	align-items: center;
}

.heroArticle {
	width: 700px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 10px;
}

.profilPicture {
	width: 400px;
	border: 4px solid rgb(247, 84, 72);
	border-radius: 100%;
	padding: 10px;
}

.btn {
	background-color: rgb(247, 84, 72);
	width: 100px;
	text-align: center;
	padding: 10px 30px;
	display: flex;
}

/*:::: About me ::::*/

.abotMe {
	width: 100%;
	background-color: rgb(27, 27, 27);
	padding: 100px 10px;
}

.articleWidth {
	width: 1200px;
	background-color: rgb(27, 27, 27);
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.articleHeader {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.titleColor {
	color: rgb(247, 84, 72);
}

.imageFigure {
	max-width: 50%;
}

.aboutImage {
	border-radius: 20px;
	border: 8px solid rgb(255, 255, 255);
}

/*:::: References section ::::*/

.referencesSection {
	width: 100%;
	background-color: rgb(27, 27, 27);
	padding: 100px 10px;
}

.mainHeanderReferences {
	position: relative;
	clear: both;
}

.articleBox {
	width: 400px;
	background-color: rgb(27, 31, 36);
	justify-content: center;
	display: flex;
	margin: 4px;
	padding: 30px 10px;
	border-radius: 15px;
	text-align: center;
}

/*:::: Contact section ::::*/

.sectionContact {
	width: 100%;
	background-color: rgb(27, 27, 27);
}

.container {
	max-width: 1200px;
}

.inputText {
	display: flex;
	justify-content: center;
	gap: 5px;
	margin: 30px 2px;
}

input,
textarea {
	width: 100%;
	background-color: rgb(36, 36, 36);
	border: 1px solid rgb(131, 131, 131);
	padding: 10px 10px;
	color: rgb(255, 255, 255);
}

.btnContact {
	background-color: rgb(247, 84, 72);
	text-align: center;
	padding: 10px 40px;
	margin: 20px 0px;
	border: none;
	border-radius: 5px;
	color: rgb(255, 255, 255) !important;
	font-size: 1.2rem;
}

/*:::: Footer section ::::*/

.footerSection {
	background-color: rgb(14, 14, 14);
	display: flex;
	justify-content: center;
	color: rgb(255, 255, 255);
	padding: 20px 5px;
	font-size: 1rem;
}
