.card {
	border: 1px solid grey;
	margin: 10px 5px;
	text-align: center;
	width: 300px;
    border-radius: 5px;
}

.backgroundImage {
	width: 250px;
	padding: 70px 10px;
}

.backgroundTitlePrice {
	background-color: gray;
	padding: 10px;
}

.buyButton {
	padding: 10px 50px;
	border: none;
    background-color: black;
    color: white;
}
