* {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1150px;
	margin: auto;
	padding-top: 20px;
}

.singlProduct {
	margin: 0 auto;
}

.gamesList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.gameCoverImg {
	max-width: 270px;
}

.btn {
	background-color: rgb(27, 27, 27);
	color: rgb(255, 255, 255);
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

@media screen and (max-width: 640px) {
	.singlProduct {
		width: 80%;
	}
}
