* {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding-top: 20px;
}

.gamesList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.gameCoverImg {
	width: 270px;
}

.btn {
	background-color: rgb(27, 27, 27);
	color: rgb(255, 255, 255);
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
}
