/* * {
	margin: 0;
	padding: 0;
} */

ul.listStyle {
	display: flex;
	gap: 50px;
	list-style-type: square;
}

ol.listRoman {
	list-style-type: upper-roman;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex p {
	width: 50%;
	background-color: burlywood;
}
